{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<section class="container">
    <section class="col-lg-9 mx-auto my-5">
        <h1 class="display-3 text-center my-4">ABOUT MyGrades</h1>
        <section>
            <img src="{% static '/images/MyGrades.png' %}" class="mx-auto d-block" style="width: 150px; height: 150px;">
            <p class="text-muted text-center mt-3"><small>Make your time yours</small></p>
        </section>
        <section class="mx-1">
            <section class="text-justify text-center my-5">
                <p class="h5">MyGrades consists of a contact and help service from students to students, giving the possibility of posting assignments so that someone else can do them for an agreed payment, likewise students can take assignments from other students and do them in exchange for a fee. monetary compensation, always ensuring their productivity and maximizing the time that the student has so that he can invest it in his projects, in what he considers profitable and in cultivating what he is passionate about.</p>
            </section>
            <section class="my-5">
                <h2 class="mx-3">Mission</h2>
                <p class="h6 text-justify">We focus on providing a contact and help service, mainly between students, to carry out their work and learn in their subjects, always ensuring that the time available to the student is maximized and can be invested in his projects, in what he consider profitable and cultivate in what you are passionate about.</p>
            </section>
            <section  class="my-5">
                <h2 class="mx-3">Vision</h2>
                <p class="h6 text-justify">Expand as a support group, mainly for students, so that they can pass their courses and train as professionals, with a great knowledge of what they are passionate about and able to organize their time in whatever they want, without being restricted by their student life or the time they have.</p>
            </section>
        </section>
    </section>
</section>

<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}