{% extends 'base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<section class="container">
    <section class="col-lg-9 mx-auto my-5">
        <h1 class="display-3 text-center my-4">CONTACT</h1>
        <section>
            <img src="{% static '/images/MyGrades.png' %}" class="mx-auto d-block" style="width: 150px; height: 150px;">
            <p class="text-muted text-center mt-3"><small>Make your time yours</small></p>
        </section>
        <section class="text-justify text-center col-7 mx-auto my-5">
            <p class="h5">Do you have doubts, complaints, suggestions or do you want to congratulate us? Write us directly by mail or <a href="{% url 'customer_support' %}">here</a> if you are cool.</p>
        </section>
        <section class="mx-1">
            <section class="text-justify my-5 ml-3">
                <span><strong>Email: </strong><a href="mailto:contact.mygrades@gmail.com">contact.mygrades@gmail.com</a></span>
            </section>
            <section class="my-5">
                <h2 class="mx-3 my-4">Social Networks</h2>
                <div class=" ml-5">
                    <span class="align-middle">
                        <a href="#"><span class="align-top">@mygrades</span> <i class="fa fa-twitter fa-3x fa-fw mx-4"></i><span class="align-top">Instagram</span></a></br>
                    </span>
                    <span class="align-middle">
                        <a href="#"><span class="align-top">@mygrades</span> <i class="fa fa-facebook fa-3x fa-fw mx-4"></i><span class="align-top">Facebook</span></a></br>
                    </span>
                    <span class="align-middle">
                        <a href="#"><span class="align-top">@mygrades</span> <i class="fa fa-instagram fa-3x fa-fw mx-4"></i><span class="align-top">Twitter</span></a></br>
                    </span>
                </div>
            </section>
        </section>
    </section>
</section>

<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}