{% extends 'base.html' %}
{% block title %} Customer Support {% endblock %}
{% block content %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
<div class="container">
    <div class="col-xl-8 mx-auto my-5">
        <h3 class="text-center">Customer Support Form</h3>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <label for="inputAddress">Title</label>
                {% for error in form.title.errors %}
                    <br><small class="text-danger">{{ error }}</small>
                {% endfor %}
                <input type="text" class="form-control" maxlength="60" name="title" placeholder="Title" required
                    value="{% if form.errors %}{{ form.title.value }}{% endif %}">
                <small class="form-text text-muted">Write a title for your requirement.</small>
            </div>
            <div class="form-group">
                <label for="inputAddress">Name</label>
                {% for error in form.name.errors %}
                    <br><small class="text-danger">{{ error }}</small>
                {% endfor %}
                <input type="text" class="form-control" maxlength="100" name="name" placeholder="Name" required
                    value="{% if form.errors %}{{ form.name.value }}{% endif %}">
                <small class="form-text text-muted">Write your name.</small>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    {% for error in form.email.errors %}
                        <br><small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    <input type="email" class="form-control" maxlength="100" name="email" placeholder="Email" required
                        value="{% if form.errors %}{{ form.email.value }}{% endif %}">
                    <small class="form-text text-muted">Write an email to contact you.</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Phone Number (optional)</label>
                    {% for error in form.phone_number.errors %}
                        <br><small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    <input type="text" class="form-control" maxlength="25" name="phone_number" placeholder="Phone Number (optional)" 
                        value="{% if form.errors %}{{ form.phone_number.value }}{% endif %}">
                    <small class="form-text text-muted">If you want us to contact you by phone write your phone number.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Description</label>
                {% for error in form.description.errors %}
                    <br><small class="text-danger">{{ error }}</small>
                {% endfor %}
                <textarea type="text" style="height: 100px" maxlength="5000" class="form-control" name="description" placeholder="Description" required>{% if form.errors %}{{ form.phone_number.value }}{% endif %}</textarea>
                <small class="form-text text-muted">Explain us your problem or suggestion.</small>
            </div>
            <div class="form-group">
                <label for="inputAddres2">Related Files</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="files" multiple>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <small class="form-text text-muted">If necessary add some file, it can be a screenshot.</small>
            </div>
            <button type="submit" class="btn btn-primary">Send Form</button>
        </form>
    </div>
</div>
{% comment %} <input type="hidden" name="alert" value="{{ response }}" readonly> {% endcomment %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}
{% block js %}
<script>
    {% if response %}
        setTimeout(function() {
            alert('Form sent correctly, we will contact you as soon as possible with a response.')
        }, 100)
    {% endif %}
</script>
{% endblock js %}
