{% extends 'base.html' %}
{% block title %} {{ title }} Post Assignment {% endblock %}
{% block content %}
{% load static %}
    <header class="masthead text-white text-center" style="background:url('static/images/WorkPlace-2.jpg')no-repeat center center;background-size:cover;">
        <div class="overlay" style="filter: blur(0px);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Organize your time wisely, get your assignments done and work on your goals!</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form method="GET" action="{% url 'register' %}">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" name="email" type="email" placeholder="Enter your email..." required></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Register</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="features-icons bg-light text-center">
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-graduation m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                    <h3>Post Assignment</h3>
                    <p class="lead mb-0">Upload an assignment and get your homework done</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-trophy m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                    <h3><strong>Start Earning</strong><br></h3>
                </div>
                <p class="lead mb-0">Chpose an assignment and start working on it</p>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-4">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                <h3>Get Good Grades</h3>
                <p class="lead mb-0">Ready and simple, get to know how to approve your courses</p>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(static/images/HandShake.jpg);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Profitable for students</h2>
                    <p class="lead mb-0">When you use this page, either to post an assignment or fulfill one, you always have the oportunity to learn while doing it and earn some extra cash or work on your goals without woring for your grades</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(static/images/bg-showcase-2.jpg);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2><strong>Perfect for busy students!</strong><br></h2>
                    <p class="lead mb-0">As a creative, active and hard-working student your are always up to something, MyGrades allows you to foccus on your goals without risking your GPA</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(static/images/ClockMoney.jpg);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Appealing proposal for everyone</h2>
                    <p class="lead mb-0">Extra cass is always handy and, for those who have some extra free time, it's a&nbsp;magnificent idea to invest it here</p>
                    <p class="lead mb-0">Do the job others hate and we know you are great at</p>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials text-center bg-light" style="height: 2.8px;padding: 0px;"></section>
    <section class="testimonials text-center bg-light" style="background: url(static/images/Font.jpg) no-repeat center center;background-size: cover;height: 256px;padding-top: 66px;padding-bottom: 66px;">
        <div class="container">
            <h2 class="mb-5" style="color: rgb(170,170,170);">Not convinced yet?</h2>
            <h2 class="mb-5" style="color: rgb(170,170,170);">Hear what people are saying...</h2>
        </div>
    </section>
    <section class="testimonials text-center bg-light" style="height: 22.4px;padding: 0px;"></section>
    <div>
        <div class="container">
            <div class="row">
                <div class="col d-lg-flex">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="static/images/testimonials-1.jpg">
                        <h5>Margaret E.</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="static/images/testimonials-2.jpg">
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="static/images/testimonials-3.jpg">
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials text-center bg-light" style="height: 22.4px;padding: 0px;"></section>
    <section class="call-to-action text-white text-center" style="background:url(static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Convinced? Get started now!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form method="GET" action="{% url 'register' %}">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" name="email" type="email" placeholder="Enter your email..." required></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Register</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}