{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<section class="container">
    <section class="col-lg-9 mx-auto my-5">
        <h1 class="display-3 text-center my-4">PRIVACY POLICY</h1>
        <section>
            <img src="{% static '/images/MyGrades.png' %}" class="mx-auto d-block" style="width: 150px; height: 150px;">
            <p class="text-muted text-center mt-3"><small>Make your time yours</small></p>
        </section>
        <section class="text-justify text-center mx-3 my-5">
            <p class="h5">Do you have doubts, e cool.</p>
        </section>
    </section>
</section>

<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}