{% extends 'base.html' %}
{% block navbar %} {% endblock %}
{% block content %}
<div class="container h-100 d-flex">
    <div class="my-auto align-middle">
        <div class="jumbotron">
            <h1 class="display-4">Ups! It seems that the page you are trying to visit does not exist or you do not have permission to see it.</h1>
            <p>You have a problem? Do not hesitate to contact us <a href="{% url 'customer_support' %}">here</a>.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'post_assignment' %}" role="button">Post Assignment</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %} {% endblock %}