{% extends 'base.html' %}
{% block title %} Server error {% endblock %}
{% block navbar %} {% endblock %}
{% block content %}
<section class="page_404">
    <div class="container h-100 d-flex">
        <div class="my-auto align-middle">
            <span class="h1 text-justify font-weight-bold" style="color: white">Ups! It seems that an error has occurred on the server.</span>
            <p class="my-3 font-weight-bold font-italic" style="color: white">Do you have a problem? Do not hesitate to contact us <a href="{% url 'customer_support' %}">here</a>.</p>
            {% if user.is_authenticated %}
                <p class="lead my-5">
                    <a class="btn btn-primary btn-lg" href="{% url 'post_assignment' %}" role="button">Post Assignment</a>
                    <a class="btn btn-primary btn-lg" href="{% url 'work_place' %}" role="button">Work Place</a>
                </p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
{% block footer %} {% endblock %}