<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-left ml-0 pl-0" href="{% url 'landing_page' %}">
            <strong>MyGrades</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto ml-5">
                {% if user.is_authenticated %}
                    <li class="nav-item border-right">
                        <a class="nav-link" href="{% url 'post_assignment' %}">Post Assignment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'work_place' %}">Work Place</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div class="float-right">
                    <div class="nav-item dropleft" style="color: #3C896D">
                        <a class="btn-sm btn-primary dropdown-toggle rounded text-light px-3"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'user_profile' %}"><i class="icon-user mr-3 align-middle"></i>Profile</a>
                            <a class="dropdown-item" href="{% url 'user_assignments' %}"><i class="icon-book-open mr-3 align-middle"></i>Assignments</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'signout' %}"><i class="icon-logout mr-3 align-middle"></i>Sign Out</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'customer_support' %}">Customer Support</a>
                            <a class="dropdown-item" href="{% url 'terms&conditions' %}">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="float-right">
                    <a class="btn-sm btn-outline-primary ml-2 rounded px-3" href="{% url 'signin' %}"><strong>Sign In</strong></a>
                    <a class="btn-sm btn-primary ml-1 rounded px-3" href="{% url 'register' %}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>