{% extends 'base.html' %}
{% block title %} Payment Test {% endblock %}
{% block content %}
{% load static %}

<button type="button" data-toggle="modal" data-target="#exampleModal" id="modal" style="display: none"></button>

<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="spinner-border text-primary mx-4" role="status"></div>
        <h5 class="modal-title" id="exampleModalLabel">Assignment Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We are processing the payment, please wait...</p>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container">
    <div class="col-lg-7 mx-auto my-5">
        <div id="paypal-button-container">{% csrf_token %}</div>
    </div>
</div>

<section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}

{% block js %}
    
    <script>
        
        const csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            createOrder: function(data, actions) {
                console.log('Trabajo ID: ' + 19 )
                return fetch('{% url 'paypal_create' 19 %}', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    }
                }).then(function(res) {
                    console.log('1 createOrder')
                    console.log(res)
                    return res.json();
                }).then(function(data) {
                    console.log(data)
                    console.log('2 cerateOrder')
                    return data.id; // Use the same key name for order ID on the client and server
                });
                

            },
            
            onError: function(err) {
                alert('It seems that there was an error with the transaction, please try again or contact us on the Customer Support.')
                console.log('ERROR!!!')
                console.log(err)
                return err
            },

            onCancel: function (data) {
                alert('You have canceled the transaction. Not sure what you are doing? Get in touch with us on the Customer Support.')
                console.log('CANCEL!!!')
                console.log(data)
            },

            onApprove: function(data, actions) {
                console.log('data1')
                console.log(data)
                console.log('data2')
                $('#modal').trigger('click');
                console.log('PROCCESING')
                return fetch('/paypal/' + data.orderID + '/capture/14', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    }
                }).then(function(res) {
                    console.log('3. aprrove')
                    console.log(res)
                    return res.json();
                }).then(function(orderData) {
                    console.log('4. then')
                    console.log(orderData)
                    const errorDetail = orderData.details
                    console.log(errorDetail)
                    if (errorDetail) {
                        if (errorDetail.issue === 'INSTRUMENT_DECLINED') return actions.restart()
                        const msg = errorDetail;
                        return alert(msg);
                    }
                    console.log('Transaction completed by ' + orderData.payer.name.given_name)
                    location.reload()
                })
            }

        }).render('#paypal-button-container');
    </script>
{% endblock js %}