{% extends 'base.html' %}
{% block title %} Post Assignment {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
<div class="Push-20" style="height: 14.4px;"></div>
<div></div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <span>Please hacer el pago vea de {{ trabajo_id }} de {{ precio }}</span>
                <form method="POST" action="{% url 'post_assignment_payment' trabajo_id %}">{% csrf_token %}
                    <h2 class="text-center my-4">Assignment Payment</h2>
                    <div class="form-group"><div id="paypal-button-container"></div></div>
                    <div class="form-group"><button class="btn-lg btn-primary rounded btn-block" type="submit">Ready</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div></div>
<div class="Push-20" style="height: 14.4px;"></div>
<section class="showcase"></section>
<section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}

{% block js %}
    <script src="https://www.paypal.com/sdk/js?client-id=AWLMBI3BwXhtXFpMZw-BnZLMvw3NjS_52qMjdQPx-e7Oe7Q7_x33nyg4EXcMHVu9ZhdNw_0CNfpgOR2M&currency=USD"></script>
    <script>
        
        const csrfToken = $('[name="csrfmiddlewaretoken"]').val();
        const price = {{ precio }} || 0
        const trabajo_id = {{ trabajo_id }} || 0

        paypal.Buttons({
            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },
            createOrder: function(data, actions) {
                console.log('Trabajo ID: ' + trabajo_id )
                fetch('{% url 'verificar_pago' %}', {
                    method: 'GET',
                    body: JSON.stringify({ orderID: data.orderID })
                }).then(function(res) {
                    return res.json();
                }).then(function(details) {
                    alert(details.message);
                })
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: price.toFixed(2)
                        }
                    }]
                });
            },
            onError: function(err) {
                alert('EERRRROORRR!!!!!')
                console.log(err)
            },
            onCancel: function (data) {
                alert('CANCEL!!!!!')
                console.log(data)
            },
            onApprove: function(data) {
                return fetch('{% url 'pago' %}', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ orderID: data.orderID })
                }).then(function(res) {
                    return res.json();
                }).then(function(details) {
                    alert(details.message);
                })
            }

        }).render('#paypal-button-container');
    </script>
{% endblock js %}