{% extends 'base.html' %}
{% block title %} {{ title }} Post Assignment {% endblock %}
{% block content %}
{% load static %}
<body>
    <section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <!-- Start: 2 Rows 1+2 Columns --><div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-lg-flex justify-content-lg-center">
                <div class="btn-toolbar">
                    <div role="group" class="btn-group"><button class="btn btn-secondary border rounded" type="button">Post Assignment</button><button class="btn btn-light border rounded" type="button">Start Earning</button></div>
                    <div role="group" class="btn-group"></div>
                </div>
                <ul class="nav nav-pills text-capitalize text-center">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>

        <form action="{% url 'post_assignment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" aria-valuemin="0" aria-valuemax="100" id="progress_bar">0%</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="Push-20" style="height: 28.8px;"></div>
                <h4 class="text-left">Assignment Field</h4>
                <div class="dropdown">
                    <select class="form-control col-5" name="area" id="area" required>
                        <option selected value>Select...</option>
                        <option value="Literature">Literature</option>
                        <option value="Social Sciences">Social Sciences</option>
                        <option value="History">History</option>
                        <option value="Nature Sciences">Nature Sciences</option>
                        <option value="Biology">Biology</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Physics">Physics</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Computer Sciences">Computer Sciences</option>
                    </select>
                </div>
                <small class="form-text text-muted" style="margin: 0px;">Write assignment title</small><textarea class="form-control" name="titulo" style="width: 450px;height: 57.6px;" placeholder="Type..." id="title" required></textarea>
                <br>
                <h4 class="text-left">Assignment Description</h4><small class="form-text text-muted" style="margin: 0px;">Describe in detail your assignment, include requirements, complexity, format and related topics</small>
                <textarea class="form-control" name="descripcion" style="width: 450px;height: 115.2px;" id="description" placeholder="Type..." required></textarea>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <div class="Push-20" style="height: 14.5px;"></div>
                <h4 class="text-left">Dead Line</h4><input class="form-control" name="fecha_expiracion" type="date" id="date" required/>
                <br>
                <h4 class="text-left">Related Documents</h4><small class="form-text text-muted">Upload any assignment related documents (rubrics, forms, questionnaires, documents to be filld and any main format documents)</small>
                <div class="form-group files color"><input type="file" name="archivos"></div>
            </div>
        </div>
    </div>
</div>
    <!-- End: 2 Rows 1+2 Columns -->
    <!-- Start: 1 Row 1 Column --><div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><button class="btn btn-primary d-lg-flex ml-auto justify-content-lg-end" type="submit" style="width: 72;">Next</button></div>
        </div>
    </div>
</div>
</form>
    <!-- End: 1 Row 1 Column -->
    <!-- Start: Juvi - Push Empty Space 20px --><div class="Push-20" style="height: 14.4px;"></div>
    <!-- End: Juvi - Push Empty Space 20px --><section class="showcase"></section>
    <section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>

</body>
{% endblock %}
{% block js %}
<script>
    $(document).ready(progress);
    $('#area').on('change', progress);
    $('#title').on('change', progress);
    $('#description').on('change', progress);
    $('#date').on('change', progress);
    function progress(){
        var area = $('#area').val();
        var title = $('#title').val();
        var description = $('#description').val();
        var date = $('#date').val();

        var components = [area, title, description, date]
        var cont = 0;
        for(var i=0; i<components.length; i++){
            if($.trim(components[i]) != ""){
                cont = cont + 1;
            }
        }

        var percent = (cont / components.length) * 100;
        $('#progress_bar').css('width', percent + '%')
        $('#progress_bar').html(percent + '%')
    }
</script>
{% endblock js %}