{% extends 'base.html' %}
{% block title %} {{ title }} Post Assignment {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container">
    <div class="col-lg-9 mx-auto my-5">
        <p class="h2 text-justify">Congratulations! You have posted an Assignment!</p>
        <section class="mx-4 mt-4 mb-5">
            <p class="text-justify">
                The payment was registered successfully and we remind you that you will have to wait for someone to take it and he will have until <strong>{{ trabajo.fecha_expiracion }}</strong> to submit <strong>"{{ trabajo.titulo }}"</strong> already completed to you.
            </p>
            <p class="text-justify">
                We appreciate your time and interest for uploading this Assignment, also we'd like to thank you for using our plataform and trusting our services. Please feel free to comment about our services with your friends and in our main page.
            </p>
        </section>
        <p class="h4">Best of lucks,<br>MyGrades Group</p>
        <div class="row mx-auto mt-4 d-flex flex-row-reverse">
            <button class="btn btn-outline-warning rounded border my-2" type="button" onclick="location.href='{% url 'user_assignments' %}'">View Posted Assignments</button>
            <button class="btn btn-outline-info rounded border mx-2 my-2" type="button" onclick="location.href='{% url 'post_assignment' %}'">Post new Assignment</button>
            <button class="btn btn-outline-success rounded border my-2" type="button" onclick="location.href='{% url 'work_place' %}'">Go to Work Place</button>
        </div>
    </div>
</div>

<section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}