{% extends 'base.html' %}
{% block title %} Assignment Payment {% endblock %}
{% block content %}
{% load static %}

<button type="button" data-toggle="modal" data-target="#exampleModal" id="modal" style="display: none"></button>

<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="spinner-border text-primary mx-4" role="status"></div>
        <h5 class="modal-title" id="exampleModalLabel">Assignment Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We are processing the payment, please wait...</p>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <h2 class="text-center my-5">Assignment Payment</h2>
            <section class="mb-4 mx-5">
                <p class="text-justify">You are about to publish <strong>"{{ trabajo.titulo }}"</strong> to improve YourGrades!!!</p>
                <p class="text-justify">
                    Once you make the payment, your assignment will be public and someone can take it, meanwhile it will remain with a hidden status. 
                    If you want to pay later or continue editing it, you can do it from your <a href="{% url 'user_assignments' %}">Assignments</a> page.
                </p>
                <p class="text-right text-muted"><small>Amount to be paid: ${{ trabajo.precio }}</small></p>
            </section>
            <form method="POST" action="{% url 'post_assignment_payment' trabajo.id %}">{% csrf_token %}
                <div class="form-group"><div id="paypal-button-container"></div></div>
            </form>
        </div>
        <div class="row mx-auto my-4 d-flex flex-row-reverse">
            <button class="btn btn-outline-warning rounded border my-2" type="button" onclick="location.href='{% url 'user_assignments' %}'">View Assignments</button>
            <button class="btn btn-outline-info rounded border mx-2 my-2" type="button" onclick="location.href='{% url 'post_assignment' %}'">Post new Assignment</button>
            <button class="btn btn-outline-success rounded border my-2" type="button" onclick="location.href='{% url 'work_place' %}'">Go to WorkPlace</button>
        </div>
    </div>
</div>

<section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}

{% block js %}
    
    <script>
        
        const csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            createOrder: function(data, actions) {
                console.log('Trabajo ID: ' + {{ trabajo.id }} )
                return fetch('{% url 'paypal_create' trabajo.id %}', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    }
                }).then(function(res) {
                    return res.json();
                }).then(function(data) {
                    return data.id;
                });
            },
            
            onError: function() {
                alert('It seems that there was an error with the transaction, please try again or contact us on the Customer Support.')
            },

            onCancel: function () {
                alert('You have canceled the transaction. Not sure what you are doing? Get in touch with us on the Customer Support.')
            },

            onApprove: function(data, actions) {
                console.log(data)
                $('#modal').trigger('click');
                return fetch('/paypal/' + data.orderID + '/capture/' + {{ trabajo.id }}, {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    }
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    const errorDetail = orderData.details
                    if (errorDetail) {
                        if (errorDetail.issue === 'INSTRUMENT_DECLINED') return actions.restart()
                        const msg = errorDetail;
                        location.reload()
                        return alert(msg);
                    }
                    location.reload()
                })
            }

        }).render('#paypal-button-container');
    </script>
{% endblock js %}