{% extends 'base.html' %}
{% block title %} {{ title }} WorkPlace {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container">
    <div class="col-lg-8 mx-auto my-5">
        <section class="row">
            <section class="col">
                <h2 class="text-left">{{ trabajo.titulo }}&nbsp;<small>-&nbsp;{{ trabajo.area }}</small></h2>
                <section class="ml-3">
                    <section class="float-left">
                        {% if trabajo.publicador.foto %}
                            <a href="{% url 'public_profile' trabajo.publicador %}">
                                <img src="{{ trabajo.publicador.foto.url }}" class="mx-auto d-block" style="width: 30px; height: 30px; border-radius: 50%">
                            </a>
                        {% else %}
                            <div class="avatar-bg center mx-auto d-block" style="width: 30px; height: 30px; border-radius: 50%"></div>
                        {% endif %}
                        <small class="form-text text-muted">
                            <a href="{% url 'public_profile' trabajo.publicador %}">{{ trabajo.publicador }}</a>
                        </small>
                    </section>
                    <section class="float-left ml-3">
                        <small class="form-text text-muted"><strong>Started:</strong> {{ trabajo.fecha_publicacion }}</small>
                        <small class="form-text text-muted"><strong>Finish:</strong> {{ trabajo.fecha_expiracion }}</small>
                    </section>
                </section>
            </section>
            <h2><span class="badge badge-pill badge-secondary float-right">${{ trabajo.precio }}</span></h2>
        </section>
        <section class="my-4">
            <h4 class="">Assignment Description</h4>
            <section class="ml-4"><p class="text-justify">{{ trabajo.descripcion|linebreaks }}</p></section>
        </section>
        {% if trabajo.archivos.all %}
            <section>
                <h5 class="text-left">Related Documents</h5>
                {% for archivo in trabajo.archivos.all %}
                    <span class="ml-3">+&nbsp<a href="{% url 'media/' archivo %}">{{ archivo }}</a></span><br>
                {% endfor %}
            </section>
        {% endif %}
        <section class="row mx-auto mt-4 d-flex flex-row-reverse">
            <button class="btn btn-success rounded border mx-1" type="button" onclick="location.href='{% url 'work_place_3' trabajo.id %}'">Next</button>
            <button class="btn btn-outline-info rounded border mx-1" type="button" onclick="location.href='{% url 'work_place' %}'">Back to Work Place</button>
        </section>
    </div>
</div>

<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}