{% extends 'base.html' %}
{% block title %} {{ title }} Post Assignment {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-lg-flex justify-content-lg-center">
                    <div class="btn-toolbar">
                        <div class="btn-group" role="group"><button class="btn btn-light border rounded" type="button">Post Assesment</button><button class="btn btn-secondary border rounded" type="button">Start Earning</button></div>
                        <div class="btn-group" role="group"></div>
                    </div>
                    <ul class="nav nav-pills text-capitalize text-center">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><div class="filter">
    <form>
        <input placeholder="e.g Chemical Reactions Essay"></input><br>
        <select>
             <option placeholder="Area">Area</option>
             <option value="">Literature</option>
             <option value="">Social Sciences</option>
             <option value="">History</option>
             <option value="">Nature Sciences</option>
             <option value="">Biology</option>
             <option value="">Chemistry</option>
             <option value="">Mathematics</option>
             <option value="">Physics</option>
             <option value="">Engineering</option>
             <option value="">Computer Sciences</option>
        </select><br>
             <label for="start">From:</label>
                <input type="date"/><br>
             <label for="start">To:</label>
                <input type="date"/>
    </form>
</div></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3"></div>
                <div class="col-md-4 col-lg-6">
                    <div class="Push-20" style="height: 10px;"></div><small class="form-text text-muted" style="margin: 0px;">Choose any assignment from the list below&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Make an offer!<br></small>
                    <ul
                        class="list-group">
                        <li class="list-group-item"><span>Assignment Title (Assignment Field)</span><span style="margin-right: 5px;">[$--]</span><small class="form-text text-muted" style="margin: 0px;">Assignment description<br></small></li>
                        <li class="list-group-item"><span>Assignment Title (Assignment Field)</span><span style="margin-right: 5px;">[$--]</span><small class="form-text text-muted" style="margin: 0px;">Assignment description<br></small></li>
                        <li class="list-group-item"><span>Assignment Title (Assignment Field)</span><span style="margin-right: 5px;">[$--]</span><small class="form-text text-muted" style="margin: 0px;">Assignment description<br></small></li>
                        <li class="list-group-item"><span>...</span><span style="margin-right: 5px;">[$--]</span><small class="form-text text-muted" style="margin: 0px;">...<br></small></li>
                        </ul>
                </div>
                <div class="col-md-4 col-lg-3"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center"><span style="color: rgb(170,170,170);">Page:&nbsp; &nbsp;</span><button class="btn btn-primary border rounded" type="button">1</button><button class="btn btn-light border rounded" type="button">2</button><button class="btn btn-light border rounded"
                        type="button">3</button><span style="color: rgb(170,170,170);">&nbsp; &nbsp;...&nbsp;</span></div>
            </div>
        </div>
    </div>
    <div class="Push-20" style="height: 14.4px;"></div>
    <section class="showcase"></section>
    <section class="call-to-action text-white text-center" style="background:url(static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
{% endblock %}