{% extends 'base.html' %}
{% block title %} {{ title }} WorkPlace {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container">
    <div class="col-lg-9 mx-auto my-5">
        <h2 class="text-left">Assignment submission conditions</h2>
        <ul class="my-4">
            <li class="text-justify">Once you take this assignment you will have until <strong>{{ fecha_expiracion }}</strong> to finish it and upload it in order to get payed. Payments are made on Thursdays of each week. Don't forget to add your Payment Method in your profile.</li>
            <li class="text-justify">Once you submit the Assignment, the publisher should check if it is correct and mark it as accepted, meanwhile it will remain with a sent status (<small>you can follow up from your <a href="{% url 'user_assignments' %}" target="_blank">Assignments</a>)</small>.</li>
            <li class="text-justify">Transaction and contact services will include a transaction fee as stipulated on our <a href="{% url 'terms&conditions' %}" target="_blank">Terms & Conditions</a>.</li>
        </ul>
        <small class="text-muted">Do you have questions before taking an Assignment? <a href="{% url 'customer_support' %}" target="_blank">Ask us</a></small>
        <div class="row mx-auto mt-4 d-flex flex-row-reverse">
            <form method="POST" action="{% url 'work_place_3' id %}">{% csrf_token %}
                <button class="btn btn-success rounded border mx-1" type="submit" title="Immediately after clicking, the Assignment will be assigned to you.">Take Assignment</button>
            </form>
            <button class="btn btn-outline-info rounded border mx-1" onclick="location.href='{% url 'work_place_2' id %}'">Back</button>
        </div>
    </div>
</div>

<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}