{% extends 'base.html' %}
{% block title %} WorkPlace {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container">
    <div class="col-lg-9 mx-auto my-5">
        <h2 class="text-left">Congratulations, the assignment is yours!</h2>
        <section class="mx-4 mt-4 mb-5">
            <p class="text-justify">
                We remind you that you have until <strong>{{ fecha_expiracion }}</strong> to submit "<strong>{{ titulo }}</strong>" already completed.
            </p>
            <p class="text-justify">
                We appreciate your time and interest for taking this assignment, also we'd like to thank you for using our plataform and for trusting in our services. Please feel free to comment about our services with your friends and in our <a href="{% url 'contact' %}" target="_blank">social networks</a>.
            </p>
        </section>
        <p class="h4">Best of lucks,<br>MyGrades Group</p>
        <div class="row mx-auto mt-4 d-flex flex-row-reverse">
            <button class="btn btn-primary rounded border my-2 mx-2" type="button" onclick="location.href='{% url 'user_assignments' %}'">View Taken Assignments</button>
            <button class="btn btn-info rounded border my-2" type="button" onclick="location.href='{% url 'work_place' %}'">Go to Work Place</button>
        </div>
    </div>
</div>


<section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}