{% extends 'base.html' %}
{% block title %} {{ title }} WorkPlace {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <div>
        <div class="Push-20" style="height: 14.4px;"></div>
    </div>
    <div>
        <div class="container">
            <div class="">
                <div class="col-lg-8 mx-auto my-5">
                    <h4 class="text-left" style="width: 450px;">Assignment submission conditions</h4>
                    <div class="Push-20" style="height: 7.2px;"></div>
                    <ul>
                        <li>Once you take this assignment you will have until <strong>{{ fecha_expiracion }}</strong> to finish it and upload it in order to get payed.<br></li>
                        <li>Once we check the uploaded document is complete, it's price will be credited to your account.</li>
                        <li>Transaction and contact services will include a transaction fee as&nbsp;stipulated on&nbsp;license terms.</li>
                    </ul>
                    <div class="Push-20" style="height: 50px;"></div>
                    <div class="row nav-justified">
                        <div class="ml-md-auto"><small>Immediately after clicking "Choose" the task will be assigned to you.</small></div>
                        <div class="col col-md-3 ml-md-auto"><button class="btn-lg btn-primary rounded border" type="button" onclick="location.href='{% url 'work_place_4' id %}'">Choose</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="Push-20" style="height: 14.4px;"></div>
    <section class="showcase"></section>
    <section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
{% endblock %}