{% extends 'base.html' %}
{% block title %} {{ title }} WorkPlace {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

    <div>
        <div class="container">
            <div class="col-lg-7 mx-auto">
                <form>
                    <div class="filter">
                        <select name="area" id="area">
                            <option selected value>Select an area...</option>
                            <option value="Literature">Literature</option>
                            <option value="History">History</option>
                            <option value="Social Sciences">Social Sciences</option>
                            <option value="Nature Sciences">Nature Sciences</option>
                            <option value="Biology">Biology</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Physics">Physics</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Languages">Languages</option>
                            <option value="Economics">Economics</option>
                            <option value="Laws">Laws</option>
                            <option value="Arts">Arts</option>
                            <option value="Marketing and Publicity">Marketing and Publicity</option>
                            <option value="Architecture and Design">Architecture and Design</option>
                            <option value="Business and Management">Business and Management</option>
                            <option value="Psychology">Psychology</option>
                            <option value="Other">Other...</option>
                        </select>
                        <input placeholder="e.g Chemical Reactions Essay" name="words" id="title" class="title col" type="text"></input><br>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="date_from" class="label">Date From:</label>
                                <input type="date" name="date_from" id="date_from" class="date form-control col"/>
                            </div>
                            <div class="form-group col">
                                <label for="date_to" class="label">Date To:</label>
                                <input type="date" name="date_to" id="date_to" class="date form-control col"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="container">{% csrf_token %}
            <div class="col-xl-9 mx-auto">
                <small class="form-text text-muted" style="margin: 0px;">
                    Choose any assignment from the list below
                    <span class="float-right" id="len_list">{{ trabajos | length }} results</span>
                </small>
                <ul class="list-group" id="list"></ul>
            </div>
        </div>
    </div>
    <div>
        <nav class="mt-3">
            <ul class="pagination justify-content-center" id="pagination">
            </ul>
        </nav>
    </div>
    <div class="Push-20" style="height: 14.4px;"></div>
    <section class="showcase"></section>
    <section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
{% endblock %}

{% block js %}

    <script>

        $(document).ready(first);
        $('#title').on('keyup', first);
        $('#area').on('change', first);
        $('#date_from').on('change', first);
        $('#date_to').on('change', first);


        function first () { getTrabajos(1) }

        function page(option) { getTrabajos(option) }
        
        function getTrabajos(page) {
            var title = $.trim($('#title').val());
            var area = $('#area').val();
            var date_from = $('#date_from').val();
            var date_to = $('#date_to').val();
            console.log(title + ',' + area + ',' + date_from + ',' + date_to);
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'title': title,
                    'area': area,
                    'date_from': date_from,
                    'date_to': date_to,
                    'page': page
                },
                url: "{% url 'wp_ajax' %}",
                type: 'post',
                success: function(data){

                    $('#len_list').html(data.len + " results");

                    showList(JSON.parse(data.pags.objects))
                    pagination(data.pags)
                }
            }).fail(function (data){
                alert("fail");
            })
        }

        function showList(trabajos) {
            console.log(trabajos)
            $('#list').html("");
            if (trabajos.length == 0) {
                $('#list').append(`
                    <li class='list-group-item'>` + `
                        <h6>No search results.</h6>
                        <small>Do you want to post an Assignment? <a href="{% url 'post_assignment' %}">Go For It</small></a>
                    </li>
                `);
            }
            for (var i = 0; i < trabajos.length; i++) {
                var pk = trabajos[i].pk
                $('#list').append(`
                    <li class='list-group-item'>` + `
                        <span><a id="assignment_workplace" href="/work_place/` + pk + `"><span class="h4">` + trabajos[i]['fields'].titulo+`</span> - <small>` + trabajos[i]['fields'].area + `</small></a></span>
                        <span style="float: right" class='badge badge-primary'>$ ` + trabajos[i]['fields'].precio + `</span>
                        <small class="form-text text-muted text-truncate" style='margin: 0px;'>` + trabajos[i]['fields'].descripcion.substring(0, 265) + `<br></small>
                    </li>
                `);
            }
        }

        function pagination(data) {
             $('#pagination').html("");
            /*if (data.has_previous) {
                $('#pagination').append(`
                    <li class="page-item ">
                        <button class="page-link" onclick="">Previous</button>
                    </li>
                `)
            } else {
                $('#pagination').append(`
                    <li class="page-item disabled">
                        <button class="page-link" onclick="">Previous</button>
                    </li>
                `)
            }*/

            for (i = 0; i < data.num_pages; i++) {
                let j = i + 1
                if(data.num_pages != 1) {
                    if (j == data.page) {
                        $('#pagination').append(`
                            <li class="page-item active">
                                <button class="page-link" id="active" onclick="page(`+j+`)">`+j+`</button>
                            </li>
                        `)    
                    } else {
                        $('#pagination').append(`
                            <li class="page-item">
                                <button class="page-link" onclick="page(`+j+`)">`+j+`</button>
                            </li>
                        `)    
                    }
                }
            }
            
            /*if (data.has_next) {
                $('#pagination').append(`
                    <li class="page-item ">
                        <button class="page-link" onclick="">Next</button>
                    </li>
                `)
            } else {
                $('#pagination').append(`
                    <li class="page-item disabled">
                        <button class="page-link" onclick="">Next</button>
                    </li>
                `)
            }*/
        }

    </script>

{% endblock js %}