{% extends 'base.html' %}
{% block title %} {{ title }} WorkPlace {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url(/static/images/WorkPlace-2.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><div class="filter">
    <form>
        <input placeholder="e.g Chemical Reactions Essay" name="words" id="title"></input><br>
        <select name="area" id="area">
             <option selected value>Select an area...</option>
             <option value="Literature">Literature</option>
             <option value="Social Sciences">Social Sciences</option>
             <option value="History">History</option>
             <option value="Nature Sciences">Nature Sciences</option>
             <option value="Biology">Biology</option>
             <option value="Chemistry">Chemistry</option>
             <option value="Mathematics">Mathematics</option>
             <option value="Physics">Physics</option>
             <option value="Engineering">Engineering</option>
             <option value="Computer Sciences">Computer Sciences</option>
        </select><br>
             <label for="start">From:</label>
                <input type="date" name="date_from" id="date_from"/><br>
             <label for="start">To:</label>
                <input type="date" name="date_to" id="date_to"/>
    </form>
</div></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-lg-3"></div>
                <div class="col-md-4 col-lg-6">
                    <div class="Push-20" style="height: 10px;"></div><small class="form-text text-muted" style="margin: 0px;">Choose any assignment from the list below<span class="float-right" id="len_list">{{ trabajos | length }} results</span></small>
                    <ul class="list-group" id="list">
                        
                    </ul>
                </div>
                <div class="col-md-4 col-lg-3"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center"><span style="color: rgb(170,170,170);">Page:&nbsp; &nbsp;</span><button class="btn btn-primary border rounded" type="button">1</button><button class="btn btn-light border rounded" type="button">2</button><button class="btn btn-light border rounded"
                        type="button">3</button><span style="color: rgb(170,170,170);">&nbsp; &nbsp;...&nbsp;</span></div>
            </div>
        </div>
    </div>
    <div class="Push-20" style="height: 14.4px;"></div>
    <section class="showcase"></section>
    <section class="call-to-action text-white text-center" style="background:url(/static/images/Desk-1.jpg) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
{% endblock %}

{% block js %}

    <script>

        $(document).ready(inicio);
        $('#title').on('change', inicio);
        $('#area').on('change', inicio);
        $('#date_from').on('change', inicio);
        $('#date_to').on('change', inicio);

        function inicio(){
            var title = $('#title').val();
            var area = $('#area').val();
            var date_from = $('#date_from').val();
            var date_to = $('#date_to').val();
            console.log(title);
            console.log(area);
            console.log(date_from);
            console.log(date_to);

            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                data: {'csrfmiddlewaretoken': csrfToken,
                       'title': title,
                       'area': area,
                       'date_from': date_from,
                       'date_to': date_to
                       },
                url: "{% url 'wp_ajax' %}",
                type: 'post',
                success: function(data){
                    var trabajos = JSON.parse(data.trabajos);
                    $('#list').html("");
                    $('#len_list').html(data.len + " results");
                    for(var i = 0; i < trabajos.length; i++){
                        var pk = trabajos[i].pk
                        $('#list').append(
                        `
                        <li class='list-group-item'>` + `
                            <span><a href="/work_place_2/` + pk + `">`+trabajos[i]['fields'].titulo+`</a></span>
                            <span style="float: right" class='badge badge-secondary'>$ ` + trabajos[i]['fields'].precio + `</span>
                            <small class='form-text text-muted' style='margin: 0px;'>` + trabajos[i]['fields'].descripcion.substring(0, 245) + `...` + `<br></small>
                        </li>
                        `);
                    }
                }
            }).fail(function (data){
                alert("fail");
            })
        }

    </script>

{% endblock js %}