{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}
{% load static %}
<section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

<div class="container profile profile-view" id="profile">
    <div class="form-row profile-row">
        <div class="col-md-5 relative">
            <div class="avatar">
                {% if usuario.foto %}
                    <img src="{{ usuario.foto.url }}" class="mx-auto d-block" style="width: 200px; height: 200px;">
                {% else %}
                    <div class="avatar-bg center mx-auto d-block"></div>
                {% endif %}
            </div>
            <section class="text-center">
                <div class="form-group my-4">
                    <h4>Key Words</h4>
                    {% if usuario.key_words_comma %}
                        <span class="form-control-plaintext">{{ usuario.key_words_comma }}</span>
                    {% else %}
                        <span class="form-control-plaintext text-muted"><small>Has not been added yet.</small></span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <h4>About you</h4>
                    {% if usuario.info_about %}
                        <span class="form-control-plaintext col-10 mx-auto px-4 mb-5">{{ usuario.info_about }}</span>
                    {% else %}
                        <span class="form-control-plaintext text-muted mb-5"><small>Has not been added yet.</small></span>
                    {% endif %}
                </div>
            </section>
        </div>
        <div class="col-md-7">
            <section class="row justify-content-between align-items-center mx-3">
                <span class="display-4 font-weight-bold">User Profile</span>
                <section>
                    <button class="btn btn-outline-secondary border rounded form-btn" onclick="location.href='{% url 'public_profile' usuario.username %}'">View Public Profile</button>
                    <button class="btn btn-secondary border rounded form-btn" onclick="location.href='{% url 'user_profile_2' 'edit' %}'">Edit Profile</button>
                </section>
            </section>
            <hr>
            <div>
                <section class="mb-4">
                    <h4>Username</h4>
                    <span class="form-control-plaintext ml-3">{{ usuario.username }}</span></div>
                </section>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h4>Email</h4>
                            <span class="form-control-plaintext ml-3">{{ usuario.mail }}</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h4>Cellphone Number</h4>
                            <span class="form-control-plaintext ml-3">{{ usuario.celular }}</span>
                        </div>
                    </div>
                </div><hr>
                 <div class="form-group">
                        <label class="h4"><strong>Payment Method</strong></label>
                        {% if payment.tipo_pago %}
                            <div class="form-row">
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <label><strong>Payment Type</strong></label>
                                    <br><span class="ml-3 mb-3">{{ payment.tipo_pago }}</span>
                                </div>
                                {% if payment.paypal_email %}
                                    <div class="col-sm-12 col-md-6 col-lg-9 mb-3">
                                        <label><strong>PayPal Email</strong></label>
                                        <br><span class="ml-3">{{ payment.paypal_email }}</span>
                                    </div>
                                {% else %}
                                    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                        <label><strong>Intitution Name</strong></label>
                                        <br><span class="ml-3">{{ payment.institucion }}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                        <label><strong>Full Name</strong></label>
                                        <br><span class="ml-3">{{ payment.nombre_apellido }}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <label><strong>DNI (Cédula o RUC)</strong></label>
                                        <br><span class="ml-3">{{ payment.cedula_ruc }}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <label><strong>Account Number</strong></label>
                                        <br><span class="ml-3">{{ payment.numero_cuenta }}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <label><strong>Account Type</strong></label>
                                        <br><span class="ml-3">{{ payment.tipo_cuenta }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <span class="form-control-plaintext text-muted ml-3"><small>Has not been added yet.</small></span>
                        {% endif %}
                    <hr>
                </div>
                <small class="form-text text-muted text-justify mb-5">
                    Only your username, profile picture, key words, what you wrote about you and your Posted Assignments will be visible to other users, 
                    information about your contact and your payment method will remain private. <a href="{% url 'public_profile' usuario.username %}">Take a look.</a>
                </small>
            </div>
        </div>
    </div>
</div>

<section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>
{% endblock %}