{% extends 'base.html' %}
{% block title %} User Interface {% endblock %}
{% block content %}
{% load static %}
<body>
    <section class="call-to-action text-white text-center" style="background:url('{% static 'images/WorkPlace-2.jpg'%}') no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
<div></div>
    <div>
        <div class="Push-20" style="height: 7.2px;"></div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="panel panel-default">
                        <ul class="nav nav-tabs panel-heading">
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Posted Assignments</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Taken Assigments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <div role="tablist" id="accordion-1">

                                    {% if posted_assignments %}

                                        {% for trabajo in posted_assignments %}

                                            <div class="card">
                                                <div class="card-header row py-2" style="margin: 0" role="tab">
                                                    <h5 class="col">
                                                        <a data-toggle="collapse" class="align-middle" aria-expanded="false" aria-controls="accordion-1 .item-{{ trabajo.id }}" href="#accordion-1 .item-{{ trabajo.id }}">{{ trabajo.titulo }}</a>
                                                    </h5>
                                                    <small class="align-middle d-flex align-items-center mr-1">{{ trabajo.fecha_expiracion|timeuntil }} left</small>
                                                    <button type="button" class="btn-sm btn-primary rounded border d-flex align-items-center ml-1" disabled>
                                                        Status <span class="badge badge-light ml-1">{{ trabajo.estado }}</span>
                                                    </button>
                                                    <button type="button" class="btn-sm btn-success rounded border d-flex align-items-center ml-1" disabled>
                                                        Cost<span class="badge badge-light ml-1">${{ trabajo.precio }}</span>
                                                    </button>
                                                </div>
                                                <div class="collapse item-{{ trabajo.id }}" role="tabpanel" data-parent="#accordion-1">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-11">
                                                                <small><strong>{{ trabajo.area }}</strong> - {{ trabajo.fecha_publicacion }} - {{ trabajo.fecha_expiracion }} - {{ trabajo.fecha_entrega }}</small>
                                                                <p class="card-text">{{ trabajo.descripcion | linebreaks | slice:':215'}}...</p>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        {% if trabajo.archivos.all %}
                                                                            <h5 class="text-left" id="archivos_title">Related Documents</h5>
                                                                            {% for archivo in trabajo.archivos.all %}
                                                                                <div id="file_text_2">
                                                                                    +&nbsp<a class="" href="{% url 'media/' archivo %}">{{ archivo }}</a>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col">
                                                                        {% if trabajo.archivos_trabajador.all %}
                                                                            <h5 class="text-left" id="archivos_title">Sent Documents</h5>
                                                                            {% for archivo in trabajo.archivos_trabajador.all %}
                                                                                <div id="file_text_2">
                                                                                    +&nbsp<a class="" href="{% url 'media/' archivo %}">{{ archivo }}</a>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="col-sm-6 col-lg-2">
                                                                <button class="btn 
                                                                    {% if trabajo.estado == 'published' %}
                                                                        btn-success
                                                                    {% elif trabajo.estado == 'taken' %}
                                                                        btn-warning
                                                                    {% elif trabajo.estado == 'sent' %}
                                                                        btn-primary
                                                                    {% endif %} rounded p-2" type="button">
                                                                    {{ trabajo.estado }}
                                                                </button>
                                                            </div>-->
                                                            <div class="col-lg-1">
                                                                <button class="btn btn-secondary rounded p-2" type="button" onclick="location.href='{% url 'edit_post_assignment' trabajo.id %}'">
                                                                    EDIT
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    
                                    {% else %}
                                            
                                        <br><p>You haven't posted any assignment yet. For assignments to appear on this section you must create an assignment to be taken by another user.</p>
                                        <div class="Push-20"></div>
                                        <h4 class="text-left" style="width: 610px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Get Started!</h4>
                                            <button class="btn btn-primary rounded d-lg-flex my-auto" type="button" style="margin-left: 400px;" onclick="location.href='{% url 'post_assignment' %}'">Post Asignment</button>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <div role="tablist" id="accordion-2">

                                    {% if taken_assignments %}

                                        {% for trabajo in taken_assignments %}

                                            <div class="card">
                                                <div class="card-header row py-2" style="margin: 0" role="tab">
                                                    <h5 class="col"><a data-toggle="collapse" class="align-middle" aria-expanded="false" aria-controls="accordion-2 .item-{{ trabajo.id }}" href="#accordion-2 .item-{{ trabajo.id }}"><strong>{{ trabajo.titulo }}</strong><br></a></h5>
                                                    <small class="align-middle d-flex align-items-center mr-1">{{ trabajo.fecha_expiracion|timeuntil }} left</small>
                                                    <button type="button" class="btn-sm btn-primary rounded border d-flex align-items-center ml-1" disabled>
                                                        Status <span class="badge badge-light mx-1">{{ trabajo.estado }}</span>
                                                    </button>
                                                    <button type="button" class="btn-sm btn-success rounded border d-flex align-items-center ml-1" disabled>
                                                        Payment<span class="badge badge-light ml-1">${{ trabajo.precio }}</span>
                                                    </button>
                                                </div>
                                                <div class="collapse item-{{ trabajo.id }}" role="tabpanel" data-parent="#accordion-2">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-9">
                                                                <small><strong>{{ trabajo.area }}</strong> - {{ trabajo.fecha_expiracion }}</small>
                                                                <p class="card-text">{{ trabajo.descripcion | linebreaks | slice:':170' }}...</p>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        {% if trabajo.archivos.all %}
                                                                            <h5 class="text-left" id="archivos_title">Related Documents</h5>
                                                                            {% for archivo in trabajo.archivos.all %}
                                                                                <div id="file_text_2">
                                                                                    +&nbsp<a class="" href="{% url 'media/' archivo %}">{{ archivo }}</a>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col">
                                                                        {% if trabajo.archivos_trabajador.all %}
                                                                            <h5 class="text-left" id="archivos_title">Sent Documents</h5>
                                                                            {% for archivo in trabajo.archivos_trabajador.all %}
                                                                                <div id="file_text_2">
                                                                                    +&nbsp<a class="" href="{% url 'media/' archivo %}">{{ archivo }}</a>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                {% if trabajo.estado == 'hidden' or trabajo.estado == 'closed' %}
                                                                    <button class="btn btn-secondary rounded p-2 mx-auto col" type="button">
                                                                        {{ trabajo.estado }}
                                                                    </button>
                                                                {% else %}
                                                                    <div role="tablist" id="accordion-3">
                                                                        <div class="">
                                                                            <div class="py-0" role="tab">
                                                                                <h5 class="mx-auto text-center">
                                                                                    <a class="btn btn-warning rounded p-2 mx-auto col" data-toggle="collapse" aria-expanded="true" aria-controls="accordion-3 .item-77" href="#accordion-3 .item-77">
                                                                                        Send
                                                                                    </a>
                                                                                </h5>
                                                                            </div>
                                                                            <div class="collapse item-77" role="tabpanel" data-parent="#accordion-3">
                                                                                <div class="card-body py-1">
                                                                                    <form method="POST" action="{% url 'send_assignment' %}" enctype="multipart/form-data">{% csrf_token %}
                                                                                        <input type="hidden" name="pk" value="{{ trabajo.pk }}">
                                                                                        <div class="files">
                                                                                            <input type="file" multiple onchange="readURL(this);" class="custom-file-input py-6" name="archivos" id="archvios" style="cursor: pointer;">
                                                                                        </div>
                                                                                        <button class="btn btn-primary rounded col ml-auto p-2" type="submit">Send</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="frame_div"></div>
                                                </div>
                                            </div>

                                        {% endfor %}

                                    {% else %}

                                        <br><p>You haven't taken any assignment yet. For assignments to appear on this section you must take an assignment to fulfill it and earn your payment.</p>
                                        <div class="Push-20"></div>
                                        <h4 class="col"><span class="text-center">Get Started!</span></h4>
                                        <button class="btn-lg btn-primary border rounded d-flex mx-auto" type="button" onclick="location.href='{% url 'work_place' %}'">Choose Assignment</button></div>

                                    {% endif %}
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div class="Push-20" style="height: 14.4px;"></div>
    <section class="showcase"></section>
    <section class="call-to-action text-white text-center" style="background:url({% static 'images/Desk-1.jpg' %}) no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
</section>

</body>
{% endblock %}

{% block js %}
    <script>

        function readURL(input) {
            files = input.files
            console.log(files)
            
            if(files){
                $('#frame_div').show();
                $('#frame_div').html("");
                for(var i = 0; i < files.length; i++){
                    if (/\.(jpe?g|png|gif|pdf|md|txt|py|html|css|js|ts|php)$/i.test(files[i].name) ) {
                        (function(file) {
                            var reader = new FileReader();
                            console.log(file.name)
                            $('#frame_div').append(` <span class="m-3">+&nbsp` + file.name + `</span><br>`);
                            reader.onload = function (r) {
                                console.log(r)
                                $('#frame_div').append(
                                `   <div class="embed-responsive embed-responsive-21by9 shadow my-3" id="frame">
                                        <iframe src="` + r.target.result + `" id="file_iframe" class="embed-responsive-item"></iframe>
                                    </div>                    
                                `);
                            };
                            reader.readAsDataURL(file);
                        })(files[i]);
                    }else{
                        $('#frame_div').append(`
                            <span class="m-3">+&nbsp` + files[i].name + `</span><span style="color:red;">Unable to display a file preview.</span><br>
                        `);
                    }
                }
            }
        }
    </script>
{% endblock js %}